<%- include("partials/header") %>

<div id="landing-header">
    <h1>Welcome to WSShare!</h1>
   <a href="/webseries" class="btn btn-lg btn-success">View All Webseries</a>
</div>

<%- include("partials/footer") %>